<!-- Include header -->
<%- include('include/_header') %> 
<!-- /Include header -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-film"></i> All Movies</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Movie</h2>
            <span class="text-light">Use the form below to update the movie</span>
        </div>

        <!-- Update movie form handling -->
        <form method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="title" class="text-light">Title</label>
                    <input type="hidden" name="id" value="<%= movie._id %>">
                    <input type="text" name="title" value="<%= movie.title %> " placeholder="Title">
                </div>
                <div class="form-group">
                    <label for="director" class="text-light">Director</label>
                    <input type="text" name="director" value="<%= movie.director %>" placeholder="Director">
                </div>
                <div class="form-group">
                    <label for="genre" class="text-light">Genre</label>
                    <input type="text" name="genre" value="<%= movie.genre %>" placeholder="Genre">
                </div>
                <div class="form-group">
                    <label for="duration" class="text-light">Duration</label>
                    <input type="number" name="duration" value="<%= movie.duration %>" placeholder="Duration">
                </div>
                <div class="form-group">
                    <label for="logline" class="text-light">Logline</label>
                    <input type="text" name="logline" value="<%= movie.logline %>" placeholder="Logline">
                </div>
                <div class="form-group">
                    <label for="watched" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" name="status" id="radio-2" value="watched" <%= movie.status == "watched" ? 'checked': '' %> >
                        <label for="radio-2" class="radio-label">Watched</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" name="status" id="radio-3"  value="pending"  <%= movie.status == "pending" ? 'checked': '' %>>
                        <label for="radio-3" class="radio-label">Pending</label>
                    </div>
                    
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
                
            </div>
        
            
        </form>

    </div>
</main>

<!-- Include footer -->
<%- include('include/_footer') %> 
<!-- /Include footer -->